/*custom css for coordinated d3-vz*/
.map 
{
	border: medium solid black;
	border-radius: 2px;
	background-color: grey;
	margin: 10px 0 0 20px;
}

.counties 
{
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.chart 
{
    background-color: grey;
    border: medium solid black;
    border-radius: 2px;
    float: right;
    margin: 10px 20px 0 0;
}

.chartTitle 
{
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.chartBackground 
{
    fill: rgba(128,128,128,.2);
}

.axis path,
.axis line 
{
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}